<div class="container">

      <h2>IDÉ: Göra wells och visitkort som sticker upp ur bröstfickor hover, click effect --- Wells/hvr-bob -Arkiv-style (överlappat)</h2>

<!-- Frontpage boxes(wells) & App sidebar -->
  <div class="row">
    <div class="col-xs-24 col-sm-18">
      <frontpage-boxes></frontpage-boxes>
    </div>
    <div class="col-xs-24 col-sm-6">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  </br> <!-- temp -->

<!-- Modal, Content(empty) & Sidebar(accordion) -->
  <div class="row">
    <!-- content -->
    <div class="col-xs-24 col-sm-16">
      <!-- adds a button to open a ui bootstrap modal -->
      <my-modal></my-modal>
      <!--
          "my-content":
          we havent made this directive yet,
          but it won't produce any errors as
          HTML is not a strict language!
      -->
      <my-content></my-content>
    </div>
    <!-- sidebar -->
    <div class="col-xs-24 col-sm-8">
      <!-- loads ui bootstrap accordion directive -->
      <my-sidebar></my-sidebar>
    </div>
  </div>

  </br> <!-- temp -->

</div>